.wraper {
  background: #000000;
  height: 100%;
}

.logo {
  font-family: General Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: var(--Light-Lines-Color, #f1f1f1);
}

.logo span {
  color: var(--Primary-Blue-Color, #4040f2);
}

.sidenav-btns {
  cursor: pointer;
}

.sidenav-btns a {
  color: var(--primary-blue-50, #f7f7fb);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  display: flex;
  align-items: center;
  padding: 15px;
  text-decoration: none !important;
  width: 100%;
}

.sidenav-icons {
  width: 40px;
}

.sidenav-btns svg {
  margin-right: 15px;
}

.sidenav-btns a:hover {
  background: #242d35;
}

.sidenav-btns a.active {
  background: #242d35;
  text-decoration: none !important;
}
